@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red: #FF4949;
    --red-dark: #db3636;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.main-title{
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.main-title-span{
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--red);
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}
.anime-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.anime-search{
    margin: 2rem 0;
}
.anime-search cite{
    font-size: 1rem;
}
.anime-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    margin-top: 2rem;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--red);
    color: var(--red);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--red);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--red);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--red-dark);
}
.anime-result{
    margin-top: 4rem;
}
#anime{
    margin: 2.4rem 0;
}
.anime-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.anime-img img{
    width: 100%;
    display: block;
}
.anime-name{
    padding: 1.5rem 0.5rem;
}
.anime-name h3{
    font-size: 1.4rem;
}
.anime-btn{
    text-decoration: none;
    color: #fff;
    background: var(--red);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.anime-btn:hover{
    background: var(--red-dark);
}

.notFound{
    grid-template-columns: 1fr!important;
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .anime-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #anime{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .anime-item{
        margin: 0;
    }
}

@media screen and (min-width: 992px){
    #anime{
        grid-template-columns: repeat(3, 1fr);
    }
}